@import "fonts.css";
@import "base.css";
@import "header-footer.css";
@import "bricks.css";

/*------------------------*/
/* theme colors
/*------------------------*/

:root {
    --textDark: rgba(38, 50, 56, 1);
    --textMedium: rgba(38, 50, 56, 0.7);
    --borderMedium: #abc7f6ff;
    --borderLight: #abc7f6ff;
    --accent: rgba(0, 61, 192, 0.5);
    --textAccent: #abc7f6ff;
    --light: rgba(171,199,246,0.25);
}
/*------------------------*/
/* turn grayscale off
/*------------------------*/

img {filter: grayscale(0);}

/*------------------------*/
/* colorize_image
/*------------------------*/

.colorize_image {filter: grayscale(0);}

/*------------------------*/
/* black_2_textDark
/*------------------------*/

.map::after, .black_2_textDark {filter: grayscale(0);}

/*------------------------*/
/* black_2_textMedium
/*------------------------*/

.black_2_textMedium {filter: grayscale(0);}

/*------------------------*/
/* black_2_accent
/*------------------------*/

.black_2_accent {filter: grayscale(0);}
